<h1>hello</h1>



    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">5>
          <div>
              <li class="text-white h4">Eigenvalues</li>
              <li class="text-white h4">Eigenvectors</li>
              <li class="text-white h4">Determinant</li>
              <li class="text-white h4">Trace</li>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
</head>
<body>
    {{!-- <form action="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
    </form>  --}}

