<div class="jumbotron">
  <h2>Eigenvalues and Eigenvectors</h2>

</div>
<div class="jumbotron">
  <form action="/eigen" method="post">

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Enter matrix in the form [[a,b],[c,d]]</label>
        <textarea class="form-control" id="eigen" rows="4" name="eigen"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Calculate</button>

  </form>
</div>
